

/* .background {

    background-repeat: no-repeat;
    background-size: cover;
} */

/* .grid {
    padding-top: rem;
} */

.imgrow
{
    justify-content: end;
    position: absolute;

    /* display: flexbox; */
}

button {
    padding-bottom: 40rem;
}

/* .imgContainer {
    max-width: 1920px;
    width: auto;
}
.img {
    width: auto;
    max-width: 1920px;

} */

